<ion-header >
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="!isLoading">
    <div class="profile">
      <img [src]="user.picture.thumbnail" />
      <div class="counts-list">
        <div class="count">
          <ion-text>Posts</ion-text>
          <ion-text>999</ion-text>
        </div>
        <div class="count">
          <ion-text>Followers</ion-text>
          <ion-text>999</ion-text>
        </div>
        <div class="count">
          <ion-text>Following</ion-text>
          <ion-text>999</ion-text>
        </div>
      </div>
      <h3>{{user.name.first}} {{user.name.last}}</h3>
    </div>
  </div>
  <div class="image-library">
    <ion-row>
      <ion-col size="4" *ngFor="let image of images" class="image">
        <img src="https://picsum.photos/seed/{{image}}/350/350" (click)="details()"/>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
